*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    border : none;
    scroll-behavior: none;
}

:root{
    --bg-color: #1f2d2d;
    --sec-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgb(0, 200, 30);
    --thr-bg-color: #0ef;
    --highlight-color: rgb(123, 0, 255);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    cursor: default;
    font-weight: 600;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}


/*---------------------HOME SECTION---------------------*/
.home{
   justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
h2 span{
    color: var(--highlight-color);
}
.home-content h1{
    font-size: 5.6rem;
    line-height: 1.3;
    font-weight: 700;
}
.home-content p{
    font-size: 1.6rem;
}
.home-img img{
    width:35vw;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--sec-bg-color);
    box-shadow: 0 0 1rem 0;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color:var(--sec-bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;
}
.btn:hover{
    background: var(--bg-color);
    color: var(--main-color);
}

/*---------------------ABOUT SECTION---------------------*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
    padding-top:15px;
    padding-bottom: 15px;
}
.about-img img{
    width: 35vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.tab-titles{
    display: flex;
    margin: 20px 0 0;
}
.tab-titles .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-titles .tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--thr-bg-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-titles .tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin-bottom: 10px;
    margin-top: 0;
}
.tab-contents ul li span{
    color: var(--thr-bg-color);
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------------------SKILLS SECTION---------------------*/
.heading#skills{
    padding-top:80px;
}
.skills-section{
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 0;
}
.container1{
    width: 500px;
    height: 500px;
    padding: 15px 90px;
    margin-left: 50px;
    padding-bottom: 0;
}
.subHeading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size:23px;
    padding-top: 10px;
}
.Technical-bars .bar{
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child{
    margin-top: 0;
}
.Technical-bars .bar:last-child{
    margin-bottom: 0;
}
.Technical-bars .bar .info{
    margin-bottom: 5px;
}
.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width:100%;
    height:5px;
    background-color: var(--sec-bg-color);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height:100%;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span{
    width:85%;
}
.progress-line.css span{
    width:70%;
}
.progress-line.javascript span{
    width:40%;
}
.progress-line.java span{
    width:70%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: var(--text-color);
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after{
    content:"85%";
}
.progress-line.css span::after{
    content:"70%";
}
.progress-line.javascript span::after{
    content:"40%";
}
.progress-line.java span::after{
    content:"70%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10px;
    stop-color: black;
    fill:transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: var(--main-color);
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation: animate-path1 1s 1s linear forwards;}
.path-2{animation: animate-path2 1s 1s linear forwards;}
.path-3{animation: animate-path3 1s 1s linear forwards;}
.path-4{animation: animate-path4 1s 1s linear forwards;}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 100;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 60;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 180;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 250;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

/*---------------------PROJECT/PORTFOLIO SECTION---------------------*/
.portfolio{
    padding:80px 150px 40px 150px;   
}
.portfolio h2{
    margin-bottom: 4rem;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.work-list .work{
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1rem var(--bg-color);
    display: flex;
}
.work img{
    width: 100%;
    transition: 0.5s ease;
    height: 25rem;
}
.work:hover img{
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #00ff26a9);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
    text-align: center;
    transform: translateY(100%);
    transition: 0.5s ease;
}
.work:hover .layer{
    transform: translateY(0);
}
.layer h3{
    font-size: 3rem;
}
.layer p{
    font-size: 1.6rem;
    margin:  0.3rem 0 1rem;
}
.layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.layer a i{
    font-size: 2rem;
    color: var(--sec-bg-color);
}
.portfolio .btn{
    display: block;
    width: fit-content;
    margin: 50px auto;
    cursor: pointer;
}

/*---------------------CONTACT SECTION---------------------*/
.contact h2{
    margin-bottom: 5rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: var(--sec-bg-color);
    color: var(--text-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 3rem;
    cursor: pointer;
    box-shadow: none;
}
.contact form .btn:hover{
    border: solid 0.2rem var(--main-color);
}
.contact #msgSent{
    margin-top: 2rem;
    color: #61b752;
    display: block;
}
/*---------------------RESPONSIVE---------------------*/
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header {
        padding : 2rem 3%;
    }
    section{
        padding : 10rem 3% 2rem;
    }

    /* portfolio : 991px*/
    .portfolio{
        padding-bottom: 7rem;
    }
}

@media (max-width: 768px){
    #menu-icon {
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        
    }
    .home{
        flex-direction: column;
    }
    .about{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about-img img{
        display: none;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    /* portfolio : 768px*/
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .work-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:617px){
    .work-list{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }
}